
  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  button {
    width: 25%;
    padding: 0.75em;
    border: none;
    border-radius: 4px;
    background-color: #5dbb63;
    color: #ffffff; 
    font-weight: bold;
    cursor: pointer;
  }

.padding {
  margin: 100px;
  flex: auto;
}
  
.black{
  color: black;
}